{% extends "base.html" %}

{% block head %} 
<link rel="stylesheet" href="../static/base.css">
{% endblock %}

{% block body %}

<p>Cozytour Travel, based in Australia, leveraging modern technology to establish business relationships with multiple globally renowned travel supplier platform companies, expanding its operations beyond Australia to other countries and regions. Comprising experienced professionals in the travel industry with diverse experiences in areas such as tour organisation, operations, and hotel management, the key is that we all love traveling and are able to seamlessly integrate customer service with our passion for work. As fellow travelers ourselves, we understand the needs of our customers. Join us today and embark on your wonderful journey! Our services are attentive and thoughtful.
</p><br>

<a href="/">Go to home page</a>
{% endblock %}