<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    {% block head %}{% endblock %}
    <title>Travel</title>
  </head>
  <body>
    <header>
        <nav>
            LOGO
        </nav>
        <nav>
            <a href="/about">About us</a>
            <a href="/grouptour">Group tour</a>
            <a href="/Tour">Private tour</a>
            <a href="/Booking">Booking</a>
        </nav>
        <nav>
            {% if session["user_name"] %}
            Hello {{ session["user_name"] }}!
            <a href="/add">Add</a>
            <a href="/requires">Enquiry</a>
            <a href="/logout">Logout</a>
            {% else %}
            <a href="/login">Login</a>
            {% endif %}
            <a href="/signup">Sign up</a>
        </nav>

    </header>
    {% block body %}{% endblock %}<br><br>
    <form method="POST" action="/api/contactus">
      <label for="email">Email</label>
      <input id="email" type="email" name="email" required>
      <br>
      <label for="name">Name</label>
      <input id="name" type="text" name="name" required>
      <br>
      <label for="phone_number">Phone number</label>
      <input id="phone_number" type="text" name="phone_number" required>
      <br>
      <label for="start">Start date</label>
      <input id="start" type="text" name="start" required>
      <br>
      <label for="end">End date</label>
      <input id="end" type="text" name="end" required>
      <br>
      <label for="partysize">Party size</label>
      <input id="partysize" type="text" name="partysize" required>
      <br>
      <label for="budget">Budget</label>
      <input id="budget" type="text" name="budget" required>
      <br>
      <input type="submit">
  </form>
    <nav>
      <button><a href="/contactus">Contact us</a></button>
    </nav>
  </body>
</html>