{% extends "base.html" %}

{%block head%}
<link rel="stylesheet" href="../static/base.css">
{%endblock%}

{% block body %}
    <form method="POST" action="/api/contactus">
        <label for="email">Email</label>
        <input id="email" type="email" name="email" required>
        <br>
        <label for="name">Name</label>
        <input id="name" type="text" name="name" required>
        <br>
        <label for="phone_number">Phone number</label>
        <input id="phone_number" type="text" name="phone_number" required>
        <br>
        <label for="start">Start date</label>
        <input id="start" type="text" name="start" required>
        <br>
        <label for="end">End date</label>
        <input id="end" type="text" name="end" required>
        <br>
        <label for="partysize">Party size</label>
        <input id="partysize" type="text" name="partysize" required>
        <br>
        <label for="budget">Budget</label>
        <input id="budget" type="text" name="budget" required>
        <br>
        <input type="submit">
    </form>
{% endblock %}