{% extends "base.html" %}

{% block head %} 
<link rel="stylesheet" href="../static/base.css">
{% endblock %}

{% block body %}

<ul>
  {% for item in requires_items %} 
    <li>Email: {{ item["email"] }} <br>
        Name: {{ item["name"] }}<br>
        Phone number:{{ item["phone_number"] }}<br>
        Start Location: {{ item["startlocation"] }}<br>
        End Location: {{ item["endlocation"] }}<br>
        Partysize: {{ item["partysize"] }}<br>
        Budget: {{ item["budget"] }}<br>
        Days: {{ item["days"] }}
        Submit date: {{ item["today"] }}
      </li>
  {% endfor %}
</ul>

{% endblock %}