{% extends "base.html" %}

{% block head %} 
<link rel="stylesheet" href="../static/base.css">
{% endblock %}

{% block body %}
<table border="1" align="center" cellpadding="10" cellspacing="2">
  <tr>
    <td>Email</td>
    <td>Name</td>
    <td>Phone Number</td>
    <td>Start location</td>
    <td>End location</td>
    <td>Partysize</td>
    <td>Budget</td>
    <td>Days</td>
    <td>Submit date</td>
  </tr>
    {% for item in requires_items %}
    <tr> 
      <td>{{ item["email"] }}</td>
      <td>{{ item["name"] }}</td>
      <td>{{ item["phone_number"] }}</td>
      <td>{{ item["startlocation"] }}</td>
      <td>{{ item["endlocation"] }}</td>
      <td>{{ item["partysize"] }}</td>
      <td>{{ item["budget"] }}</td>
      <td>{{ item["days"] }}</td>
      <td>{{ item["today"] }}</td>
    </tr>
    {% endfor %}

</table><br>
<a href="/">Go to home page</a>
{% endblock %}